---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@/styles/globals.css";
import { ViewTransitions } from 'astro:transitions';

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/assets/images/ogBanner.png" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta content="#171717" name="theme-color" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title} — MinionAH Newsroom</title>
<ViewTransitions />
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content="MinionAH, Hypixel SkyBlock, minions, auction house, minion trading, skyblock auction, skyblock minions, Hypixel minions, buy minions, sell minions, newsroom, minionah newsroom, minionah news, minionah updates" />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content=`${title} — MinionAH Newsroom` />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:image:secure_url" content={new URL(image, Astro.url)} />
<meta property="og:image:alt" content={title} />
{
  image === "/assets/images/ogBanner.png" && (
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  )
}
<meta property="og:image:type" content="image/png" />
<meta property="og:site_name" content="MinionAH Newsroom" />
<meta property="og:locale" content="en_US" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="RSS feed for MinionAH Newsroom" href="/rss.xml" />

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png" />
<link rel="manifest" href="/assets/favicons/site.webmanifest" />
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#171717" />
<link rel="icon" href="/assets/favicons/favicon.ico" />
<link rel="shortcut icon" href="/assets/favicons/favicon.ico" />
<meta name="msapplication-TileColor" content="#171717" />
<meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png" />
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml" />
