---
import BaseHead from "$lib/components/BaseHead.astro";
import Header from "$lib/components/Header.astro";
import Footer from "$lib/components/Footer.astro";
import FormattedDate from "$lib/components/FormattedDate.astro";

const { frontmatter } = Astro.props;

frontmatter.pubDate = new Date(frontmatter.pubDate);
frontmatter.lastUpdated = frontmatter.lastUpdated ? new Date(frontmatter.lastUpdated) : null;
---

<html lang="en" class="dark scroll-smooth bg-[#131313]">
  <head>
    <BaseHead title={frontmatter.title} description={frontmatter.description} />
  </head>

  <body data-astro-prefetch>
    <div class:list={[frontmatter.isPublic ? "hidden" : "bg-red-500 py-2 text-center text-white"]}>
      <p class="text-sm">This post is not public.</p>
    </div>
    <Header />
    <main class:list={[frontmatter.isPublic ? "" : "hidden", "relative overflow-hidden py-8"]}>
      <article class="prose prose-lg prose-neutral !prose-invert relative mx-auto mt-6 max-w-4xl px-4 py-4 prose-headings:scroll-m-20 prose-a:text-white prose-img:pointer-events-none prose-img:w-full prose-img:rounded-lg prose-video:w-full prose-video:rounded-lg sm:px-4 lg:px-6">
        <style>
          article *:not(img) {
            max-width: 42rem;
          }

          article img {
            max-width: 56rem;
          }
        </style>
        <div class="mx-auto mb-5 mt-0 max-w-2xl">
          <div class="mx-auto">
            <div class="relative z-50 text-xs font-bold text-neutral-300">
              <span class="relative z-50 block uppercase">{frontmatter.type}</span>
            </div>
          </div>
        </div>
        <div class="mx-auto mb-0 mt-0 max-w-2xl">
          <div class="mx-auto">
            <h1 class="relative z-50 text-5xl font-bold text-white">{frontmatter.title}</h1>
          </div>
        </div>
        {
          frontmatter.description && (
            <div class="mx-auto mb-0 mt-5 max-w-2xl ">
              <div class="mx-auto">
                <p class="relative z-50 text-2xl font-medium leading-7 text-white" set:html={frontmatter.description} />
              </div>
            </div>
          )
        }
        <div class="prose-lg mx-auto leading-[1.688rem]">
          <slot />
          <small class="text-accent">
            <span>This document is effective as of <FormattedDate date={frontmatter.pubDate} /></span>
            {
              frontmatter.lastUpdated && (
                <>
                  <br />
                  <span>
                    This document was last updated on <FormattedDate date={frontmatter.lastUpdated} />
                  </span>
                </>
              )
            }
          </small>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
